.button {
    cursor: pointer;
    height: 30px;
}

.button-primary {
    border: none;
}

.button-primary:checked {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    right: 3px;
    width: 100px;
    height: 5px;
}