table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.container_tbl {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton {
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    margin: 0.2rem;
    background-color: brown;
    border: none;
    border-radius: 10%;
}

.choix3 {
    background-color: chartreuse;
}


/*
.choix1 {
    background-image: url(./img/casque.png);
}

.choix2 {
    background-image: url(./img/clou.png);
}

.choix3 {
    background-image: url(./img/crayon.png);
}

.choix4 {
    background-image: url(./img/ecran.png);
}

.choix5 {
    background-image: url(./img/ecran2.png);
}

.choix6 {
    background-image: url(./img/marteau.png);
}

.choix7 {
    background-image: url(./img/micro.png);
}

.choix8 {
    background-image: url(./img/outil.png);
}

.choix9 {
    background-image: url(./img/pinceau.png);
} */

.toto {
    font-weight: bold;
}

.first44 {
    color: aquamarine;
}

.second45 {
    color: red;
}