      @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
      * {
          margin: 0;
          padding: 0;
          font-family: 'Noto', sans-serif;
      }
      
      .boutons_jeux {
          display: flex;
          justify-content: center;
          padding: 2rem;
      }
      
      .boutons_jeux form {
          display: flex;
          flex-direction: column;
          color: darkolivegreen;
          text-align: center;
      }
      
      .boutons_jeux form button,
      form select option {
          cursor: pointer;
          border: none;
          border-radius: 5%;
          background-color: rgb(211, 237, 238);
          color: rgb(54, 126, 54);
          padding: 1rem;
      }
      
      .container_jeu {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(4, min-content);
          grid-template-rows: repeat(4, min-content);
          grid-auto-flow: row dense;
          justify-content: center;
      }
      
      .container_jeu form button {
          cursor: pointer;
      }
      
      #victoire {
          display: flex;
          justify-content: center;
      }
      
      #victoire p {
          padding: 2rem;
          background-color: rgb(211, 237, 238);
          color: rgb(54, 126, 54);
          width: 60%;
          text-align: center;
          border-radius: 5%;
      }
      /*  *********animation TEXT*********** */
      
      .wrapper {
          display: flex;
          flex-direction: column;
          width: 60%;
          align-items: center;
          padding-top: 4rem;
          margin: 0 auto;
      }
      
      .wrapper .static-txt {
          color: rgb(54, 126, 54);
          font-size: 2rem;
          font-weight: 400;
      }
      
      .wrapper .static-txt span {
          font-weight: bold;
          color: goldenrod;
      }
      
      .wrapper .dynamic-txts {
          margin-left: 15px;
          height: 90px;
          line-height: 90px;
          overflow: hidden;
      }
      
      .dynamic-txts li {
          list-style: none;
          color: rgb(54, 126, 54);
          font-size: 60px;
          font-weight: 500;
          position: relative;
          top: 0;
          animation: slide 12s steps(4) infinite;
      }
      
      @keyframes slide {
          100% {
              top: -360px;
          }
      }
      
      .dynamic-txts li span {
          position: relative;
          margin: 5px 0;
          line-height: 90px;
          background-color: rgb(255, 255, 255);
      }
      
      .dynamic-txts li span::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: 100%;
          background: #ffffff;
          border-left: 2px solid #FC6D6D;
          animation: typing 3s steps(10) infinite;
      }
      
      @keyframes typing {
          40%,
          60% {
              left: calc(100% + 30px);
          }
          100% {
              left: 0;
          }
      }