      @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
      * {
          margin: 0;
          padding: 0;
          font-family: 'Noto', sans-serif;
      }
      
      .navigation {
          background-color: rgb(211, 237, 238);
          display: flex;
          justify-content: space-around;
          padding: 2rem;
      }
      
      .navigation li,
      a:link,
      a {
          list-style: none;
          text-decoration: none;
          color: rgb(54, 126, 54);
      }
      
      .boutons_jeux {
          display: flex;
          justify-content: center;
          padding: 2rem;
      }
      
      .boutons_jeux form {
          display: flex;
          flex-direction: column;
      }
      
      .boutons_jeux form button,
      form select option {
          cursor: pointer;
          border: none;
          border-radius: 5%;
          background-color: rgb(211, 237, 238);
          color: rgb(54, 126, 54);
          padding: 1rem;
      }
      
      .container_jeu {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(4, min-content);
          grid-template-rows: repeat(4, min-content);
          grid-auto-flow: row dense;
          justify-content: center;
      }
      
      .container_jeu form button {
          cursor: pointer;
      }
      
      #victoire {
          display: flex;
          justify-content: center;
      }
      
      #victoire p {
          padding: 2rem;
          background-color: rgb(211, 237, 238);
          color: rgb(54, 126, 54);
          width: 60%;
          text-align: center;
          border-radius: 5%;
      }