    @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-family: 'Noto', sans-serif;
    }
    
    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        color: green;
    }
    
    .dashboard button {
        border: none;
        border-radius: 2px;
        padding: 0.5rem;
    }
    
    table {
        border-collapse: top;
        caption-side: top;
        margin-top: 2rem;
    }
    
    td,
    th {
        border-bottom: solid;
        padding: 1rem;
        border-bottom-width: .125rem;
        border-color: green;
    }
    
    @media (max-width: 400px) {
        table {
            border-collapse: top;
            caption-side: top;
            margin-top: 1rem;
        }
        td,
        th {
            border-bottom: solid;
            padding: 0.5rem;
            border-bottom-width: .125rem;
            border-color: green;
        }
    }